{% extends 'AppBundle::base.html.twig' %}
{% block title %}users list{% endblock %}
{% block content %}
    <h1>Users list</h1>    
    <div>
        <a class="btn btn-default" href="{{ path('user_new') }}">Create a new user</a>
    </div>    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Group</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.group }}</td>
                    <td>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        <a href="{{ path('user_delete', { 'id': user.id }) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
